<div class="modal">
    <div class="modal-box">
        <div class="box-content">
            <h2>Descrizione della razza {{dog.title}} </h2>
            <div class="flex-container">
                <img src={{dog.immagine}} alt="">
                <app-text-editor [inputText]="dog.story" [editable]="editable" (saveChanges)="onSavedText($event)"></app-text-editor>
            </div>
            <button class="editButton" (click)="toggleEditButtonValue()">Matita</button>

            <!--
                <button class="btn-closeModal" *ngIf="showComponent" (click)="openSecondModal()">Modifica</button>
            -->  
           
            
            <br>
            <button class="btn-closeModal" (click)="hideComponente(false)">Chiudi modale</button>
            <app-pagina-modale [(showComponent)]="showSecondModal" *ngIf="showSecondModal"></app-pagina-modale>
        </div>
    </div>
  </div>


