.example-card {
    max-width: 400px;
   text-align: center;
   box-shadow: 10px 10px 8px 2px #888888;
    img {
      height: 350px;
      width: 400px;
    }
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-bottom: 20px;
  }