.sidebar {
  width: 11%;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  height: 761px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 0 0 155px;
}

h3 {
  margin: 0;
  font-size: 15px;
  color: white;
  background: forestgreen;
  width: 100%;
  text-align: center;
}

.content {
  flex: 1;
  padding: 20px;
  border: 1px solid black;
  background: grey;
  height: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.image-grid.grid-4 {
  grid-template-rows: auto auto;
}

.image-grid img {
  flex: 1 0 100%;
  width: 100%;
  height: auto;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-1 {
  grid-template-columns: 1fr;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f0f0f0;
}

.container {
  display: flex;
}

