<div id="image-viewer-container">
  <div class="image-viewer">
    <div class="selected-image">
      <img *ngFor="let img of selectedImages" [src]="img.src" alt="{{ img.title }}">
      <h2>{{ selectedImages.length }} Immagini Selezionate</h2>
    </div>

  </div>
</div>
<div class="sidebar">
      <h2>Immagini</h2>
      <div class="thumbnails">
        <div class="thumbnail" *ngFor="let img of Image; let i = index" [class.active]="img.selected" (click)="toggleImageSelection(img)">
          <img [src]="img.src" alt="{{ img.title }}">
          <h3>{{ img.title }}</h3>
        </div>
      </div>
    </div>
