<app-header></app-header>

<div class="card-container">
    <div *ngFor="let dog of dogRace; let i = index">
      <app-cards-container (dog)="selectedDog"  [dog]="dog" [(showComponent)]="showComponent" ></app-cards-container>
    
    </div>
  </div>
  <button (click)="consolog()">check status</button>

  <app-dog-modal  [dog]="selectedDog" [(showComponent)]="showComponent" *ngIf="showComponent" [story]="dogRace" [immagine]="dogRace" [tipo]="dogRace" [title]="dogRace" [descrizione]="dogRace"></app-dog-modal>
