
.toolbar {
    display: flex;
    justify-content: space-between;
    
    padding: 5px;
    border: none;
  }
  
  .editor {
    border: 1px solid #ccc;
    min-height: 200px;
    max-width: 600px;
    padding: 10px;
    overflow: auto;
    
  }

  .editor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    p {
      text-align: center;
    }


    .buttonContainer {
      display: flex;
     
      margin: 15px 0;
      .EditorButton {
        padding: 10px;
        border-radius: 15px;
        margin: 0 auto;
        width: 100px;
        color: white;
      }
      #saveButton {
        background-color: rgb(52, 52, 160);
        
      }
      #undoButton {
        background-color: rgb(182, 45, 45);
       
      }
    }
  }
  