<app-header></app-header>
<div class="editor-container">
  <p>Text Editor</p>

  <div class="toolbar">
    <button mat-icon-button (click)="undo()" title="Annulla">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button (click)="redo()" title="Avanti">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('bold')" title="Grassetto">
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('italic')" title="Italico">
      <mat-icon>format_italic</mat-icon>
    </button>
    
    <input [(ngModel)]="selectedColor" type="color" (focus)="saveSelection()" (blur)="restoreSelectionAndDeselect()" (change)="formatText('foreColor', selectedColor)" />
    <button mat-icon-button (click)="formatText('fontSize', selectedFontSize)" title="Dimensione testo">
      <mat-icon>format_size</mat-icon>
    </button>
    <mat-select style="width: 50px;" [(ngModel)]="selectedFontSize" >
      <mat-option  value="1">8</mat-option>
      <mat-option value="2">10</mat-option>
      <mat-option value="3">12</mat-option>
      <mat-option value="4">14</mat-option>
      <mat-option value="5">18</mat-option>
      <mat-option value="6">24</mat-option>
      <mat-option value="7">36</mat-option>
    </mat-select>
    <button mat-icon-button (click)="formatText('underline')" title="Sottolinea">
      <mat-icon>format_underlined</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('strikeThrough')" title="Strike">
      <mat-icon>format_strikethrough</mat-icon>
    </button>
    <button mat-icon-button (click)="clearEditor()" title="Cancella tutto">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('justifyLeft')" title="Allinea a sinistra">
      <mat-icon>format_align_left</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('justifyCenter')" title="Allinea al centro">
      <mat-icon>format_align_center</mat-icon>
    </button>
    <button mat-icon-button (click)="formatText('justifyRight')" title="Allinea a destra">
      <mat-icon>format_align_right</mat-icon>
    </button>
   
  </div>
  <div #editor class="editor" contenteditable="true" (input)="onInput($event)"></div>
</div>
